.add-note-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(43, 43, 43, 0.8);
    height: 100vh;
    width: 100vw;
}

.add-note-page-container form {

    background-color: red;
    width: 30%;
    height: 80%;
}