main {
    grid-area: 2 / 3 / 13 / 13;
    padding: 10px 20px;
    overflow: auto;
}

main {
    grid-area: 2 / 3 / 13 / 13;
    padding: 10px 20px;
    overflow: auto;
}

main h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #a9a9a9;
    font-weight: 600;
}

main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgb(35, 35, 35);
}

main::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
    background: #444;
}

main .notes {
    background-color: #252525;
    border-radius: 10px;
    color: #a9a9a9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.notes-tittle {
    display: flex;
}

.notes-tittle h4 {
    margin-right: 20px;
    font-size: 1.2rem;
}

.notes-tittle h5 {
    border-radius: 5px;
    font-size: 1rem;
    padding: 3px 4px;
}

.notes-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 0.9rem;
}


main .notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notes-buttons i {
    font-size: 0.9rem;
    color: #a9a9a9;
    transition: .1s;
}

.notes-buttons i:hover {
    color: #28998d;
}

.notes-buttons button {
    background-color: transparent;
    margin-left: 15px;
    border: none;
    cursor: pointer;
}

main .notes-main {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
}