nav {
    border-right: 1px solid #404040;
    grid-area: 2 / 1 / 13 / 3;
    overflow: auto;
}

nav button {
    display: none;
    border: none;
    cursor: pointer;
    position: absolute;
    font-weight: 600;
    background-color: transparent;
    color: #a9a9a9;
    right: 1px;
    font-size: 0.6rem
}

nav button:hover {
    color: white;
}

nav .group:hover button {
    display: flex;
}

nav .group {
    border-bottom: 1px solid #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 2.9rem;
    cursor: pointer;
    transition: .1s;
    position: relative;
}

nav i {
    height: 0.7rem;
    width: 0.7rem;
    margin-right: 0.5rem;
}

nav .group:hover {
    background-color: #252525;
}

nav .group .group-header {
    display: flex;
    align-items: center;
}

nav .group .circle {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

nav::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

nav .group h3 {
    font-size: 0.9rem;
    color: #a9a9a9;
}

nav .group p {
    padding: 0.1rem 0.7rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    color: white;
}

nav .add-new-list:hover h3 {
    color: white;
}